/* buttons */
.x-btn { direction: ltr; }
.x-btn-text {direction: rtl; }

.x-btn-mc em.x-btn-arrow { background-position:left center; padding-right:0; padding-left:10px; }
.x-btn-mc em.x-btn-split { background-position:left center; display:block; padding-right:0; padding-left:14px; }
.x-btn-mc em.x-btn-split { background-image:url(../images/default/button/s-arrow.gif); }

.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
    background-image:url(../images/default/button/s-arrow-o.gif);
}

/* menus */
.x-menu { background-image:url(../images/default/menu/menu.gif); background-position: top right; background-repeat:repeat-y; }
.x-menu-item-arrow{ background-image:url(../images/default/menu/menu-parent.gif); }
a.x-menu-item { padding:3px 27px 3px 21px; }

/*Panel's x-tool*/
.x-tool {float:left;}

/*Layouts*/
.x-column { float:right;}
.x-panel-inline-icon { margin-left:4px; margin-right:0; }
.x-tool-expand-east, .x-tool-expand-west { float:none }

/*Tabs*/
ul.x-tab-strip li{direction:ltr; float:right;margin-right:2px; margin-left:0; width:120px;}
ul.x-tab-strip > li{width:auto;}
.x-tab-strip-text {direction: rtl;}

/*Grids*/
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner {
    background-image:url(../images/default/grid/grid3-special-col-bg.gif) !important;
    padding-left: 0; padding-right: 12px; background-position: 100% 0% !important;
}