<html>
<head>
    <title>Table Layout</title>
    <link rel="stylesheet" type="text/css" href="http://extjs.com/deploy/ext-3.0-rc1.1/resources/css/ext-all.css"/>

    <!-- GC -->
    <!-- LIBS -->
    <script type="text/javascript" src="http://extjs.com/deploy/ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="http://extjs.com/deploy/ext-3.0-rc1.1/ext-all.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="../../src/extjs_rtl.js"></script>
    <link rel="stylesheet" type="text/css" href="../../src/resources/css/extjs_rtl.css"/>

    <style type="text/css">
        html, body {
            font: normal 11px verdana;
        }
        #main-panel td {
            padding:5px;
        }
    </style>
    <script type="text/javascript">
        Ext.onReady(function() {
            var panel = new Ext.Panel({
                id:'main-panel',
                baseCls:'x-plain',
                renderTo: Ext.getBody(),
                layout:'table',
                layoutConfig: {columns:3},
                // applied to child components
                defaults: {frame:true, width:200, height: 200},
                items:[{
                    title:'פריט 1'
                },{
                    title:'פריט 2'
                },{
                    title:'פריט 3'
                },{
                    title:'פריט 4',
                    width:410,
                    colspan:2
                },{
                    title:'פריט 5'
                },{
                    title:'פריט 6'
                },{
                    title:'פריט 7',
                    width:410,
                    colspan:2
                },{
                    title:'פריט 8'
                }]
            });
        });
    </script>
</head>
<body dir="rtl">
<script type="text/javascript" src="../shared/examples.js"></script><!-- EXAMPLES -->
</body>
</html>
